*{
color: white;
}
body{
    background-color: #191919 !important;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(56, 56, 56);
}
.logout{
    background-color: #353535;
    color: white;
    padding: 5px 10px;
    box-shadow: none;
    border-radius: 20px;
    border: none;
}
.channel{
    height: 80vh;
    padding: 20px;
}

li.self{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
li.other{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}
.block{
    display: flex;
    gap: 8px;  
}
li.self .block{
     flex-direction: row-reverse;
}
li.self  .text-box{
    border-radius: 20px 0px 20px 20px;
}
#Avatar{
   border-radius: 100%;
   border: 1px solid #ccc;
}

.text-box{
    margin-top: 5px;
    background: #353535;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 0px 20px 20px 20px;
    animation: animate .3s;
    transform-origin: top left;
    max-width: 60%;
}
li.self .text-box{
    background: blue;
    transform-origin: top right;
}
.name{
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    font-weight: bold;
}
.msg{
    font-size: 13px;
}
.time{
    font-size: 12px;
    color: rgb(85, 87, 87);
}

form{
    width: 97%;
    height: 45px;
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 5px;
}
input {
background-color: #202124;
width: 100%;
padding: 15px;
border-radius: 50px;
border: none;
}
input:focus{
    outline: none;
}
.submit{
    border-radius: 100%;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: #075E54;
    color: white;
    padding: 10px;
}

@keyframes animate {
    from {
          transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
